.post-preview {
  position: absolute;
  width: 300px;
  height: 225px;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.preview-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(-1, 1);
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.preview-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: scale(-1, 1);
}
