.post-preview{
    position: absolute;
    width: 400px;
    height: 320px;
    z-index: 1;
    top:0;
    left: 0;
}

.preview-video{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    transform: scale(-1, 1);
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.preview-canvas{
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    transform: scale(-1, 1);
}